<div class="login-page">
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <h1>Login Panel</h1>
      <form autocomplete="off" role="form" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <fieldset class="form-group">
          <label>Name</label>
          <input class="form-control" [(ngModel)]="user.name" type="text" name="name">
        </fieldset>
        <fieldset class="form-group">
          <label>Password</label>
          <input class="form-control" [(ngModel)]="user.password" type="password" name="password" required>
        </fieldset>
        <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary" required>Login</button>
      </form>
    </div>
  </div>
  <div class="row justify-content-md-center  back">
    <div class="col-md-4">
      <button class="button btn btn-secondary" [routerLink]="['/']">Back to dashboard</button>
    </div>
  </div>
</div>

