<div class="card">
  <div class="card-header"><h1 align="center">BoostHigh Warehouse</h1>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h1>Remember add label on device! </h1>
      </div>
<!--      <div class="col">-->
<!--        <div class="row">-->
<!--          <div class="col">-->
<!--            <h3>Last added device</h3>-->
<!--            <table class="table table-responsive table-bordered table-striped mb-0">-->
<!--              <thead>-->
<!--              <th>Name</th>-->
<!--              <th>Status</th>-->
<!--              <th>Date in</th>-->
<!--              <th>User</th>-->
<!--              </thead>-->
<!--              <tbody>-->
<!--              <tr *ngFor="let last of statusData.lastAdded">-->
<!--                <td>{{last.name}}</td>-->
<!--                <td>{{last.status.name}}</td>-->
<!--                <td>{{mainService.displayDate(last.dateIn)}}</td>-->
<!--                <td>{{last.user.name}}</td>-->
<!--              </tr>-->
<!--              </tbody>-->
<!--            </table>-->
<!--          </div>-->
<!--          <div class="col">-->
<!--            <h3>Last changed device</h3>-->
<!--            <table class="table table-responsive table-bordered table-striped mb-0">-->
<!--              <thead>-->
<!--              <th>Name</th>-->
<!--              <th>Status</th>-->
<!--              <th>Date status change</th>-->
<!--              <th>User</th>-->
<!--              </thead>-->
<!--              <tbody>-->
<!--              <tr *ngFor="let changed of statusData.lastChanged">-->
<!--                <td>{{changed.name}}</td>-->
<!--                <td>{{changed.status.name}}</td>-->
<!--                <td>{{mainService.displayDate(changed.dateOut)}}</td>-->
<!--                <td>{{changed.user.name}}</td>-->
<!--              </tr>-->
<!--              </tbody>-->
<!--            </table>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
  <div class="card-footer">
    <img src="{{logo}}"/>
  </div>
</div>


